<div class="discussion-meta">
  <a href="<%= author.html_url %>">
    <img class="discussion-avatar" src="<%= author.avatar_url %>">
    <%= author.login %>
  </a>
  committed
</div>

<div class="discussion-content"><a href="<%= html_url %>"><%= sha %></a></div>
