<a href="<%= html_url %>">#<%= number %></a>

<a href="<%= user.html_url %>">
  <img class="avatar" src="<%= user.avatar_url %>">
  <%= user.login %>
</a>

<div class="body">
  <%= body %>
</div>

<div class="comments">
</div>
