<div class="discussion-comment">
  <div class="discussion-meta">
    <a href="<%= user.html_url %>">
      <img class="discussion-avatar" src="<%= user.avatar_url %>">
      <%= user.login %>
    </a>
    created this issue
    <time class="js-relative-time" datetime="<%= created_at %>"><%= created_at %></time>
  </div>

  <div class="discussion-content"><%= body_html %></div>
</div>

<div class="comments">
</div>
