<a href="#n/<%= id %>">
  <span class="octicon octicon-<%= subject.octicon %>"></span>
  <span class="repository"><%= repository.owner.login %> / <%= repository.name %></span>
  <time class="js-relative-time" datetime="<%= updated_at %>"><%= updated_at %></time>
  <span class="title"><%= subject.title %></span>
</a>
