<div class="discussion-meta">
  <a href="<%= user.html_url %>" class="discussion-user">
    <img class="discussion-avatar" src="<%= user.avatar_url %>">
    <%- user.login %>
  </a>
  opened this pull request
  <time class="js-relative-time" datetime="<%= created_at %>"><%= created_at %></time>
</div>

<div class="discussion-content">
  <div class="pull-head">
    <span class="pull-state">
        <span class="state-indicator <%= state %>"><%= state %></span>
    </span>

    <p class="pull-summary">
      <a href="<%= user.html_url %>" class="pull-header-username"><%= user.login %></a>
      wants to merge <%= commits %> commits into
      <span class="commit-ref"><%- base.ref %></span>
      from
      <span class="commit-ref"><%- head.ref %></span>
    </p>

    <div class="pull-head-meta">
      <span class="pull-number">
        <a href="<%= html_url %>">#<%= number %></a>
      </span>
    </div>
  </div>

  <%= body_html %>
</div>
